/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Loto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;

  /*linear-grandient is always used with background-image*/
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover; /*always try to fit the element in the box*/
  background-position: top; /*top of the image stays the same*/

  /*child element position absolute takes this element as refernce to start calculation of positon*/
  position: relative;

  /*prozent oder px geht beides unter anderem*/
  /* clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  /* enable top, bottom, left, right properties */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  /*orietiert sich am header da header position relative ist*/
  /* moves the element in relation to the parent element */
  position: absolute;
  top: 40%;
  left: 50%;
  /* translate shifts the element itself */
  /*shift 50 % of the elements width to the left and 50 %  to the top*/
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* hides the part behind the element */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* kurz */
  /* animation: moveInLeft 1s ease-out */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;

  /* dicke der buchstaben */
  font-weight: 700;
  letter-spacing: 17.4px;

  /* animation */
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* animations in header */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
